<!doctype html>
<html>

<head>
    <title>User App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>
                <span class="fa fa-lock"></span> 
                <span>Home Page</span>
            </h1>
            <p>Login or Register</p>
            <a href="/login" class="btn btn-default">
                <span class="fa fa-user"></span>
                <span> Login</span>
            </a>
            <a href="/signup" class="btn btn-default">
                <span class="fa fa-user"></span>
                <span> Signup</span>
            </a>
            <a href="/auth/google" class="btn btn-danger">
                <span class="fa fa-google-plus"></span>
                <span>Google</span>
            </a>
        </div>
    </div>
</body>

</html>